@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Luckiest+Guy&display=swap');

body {
  background-color: black;
  font-family: 'Lilita One', sans-serif, 'Luckiest Guy', cursive;
}

.product-image {
  border: 2px solid #9b870c;
  width: 100%;
}

.gold-text {
  background-image: linear-gradient(
    to right,
    #462523 0,
    #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
     color:transparent;
     -webkit-background-clip:text;
}

.btn:hover {
  background-image: linear-gradient(
    to right,
    #462523 0,
           #cb9b51 22%, 
    #f6e27a 45%,
    #f6f2c0 50%,
    #f6e27a 55%,
    #cb9b51 78%,
    #462523 100%
    );
  
}
